body {
  display: inline-block;
  width:100%;
}

.menu_title {
  background-color: rgba(153, 204, 255, .9);
  color: black;
  font-size: 50px;
  font-family: baskerville;
  padding-left: 30px;
}

.top {
  margin-top: 11%;
}

.header {
  height: 45px;
  margin-left: 512px !important;
}

.border {
  border: 6px solid black;
  outline: 4px solid rgba(153, 204, 255, 1);
  width: 300px;
  text-align: center;
}


.header_button {
  color: #000000;
  background: rgba(0,0,0,0);
  border: solid 2px #000000;
  margin: 5px 10px 5px 5px;
  font-family: baskerville;
  font-weight: bold;
  font-size: 20px;
}

.name {
  font-size: 80px;
  height: -10px;
  font-family: 'Lobster', Georgia, Times, serif;
  margin-bottom: 14px;
  margin-left: -280px;
  padding-left: 8px;
  width: 800px;
}

.Cart {
  min-width: 5px;
  padding: 1rem;
  color: black;
  text-align: right;
  overflow: hidden;
  max-height: 1.5rem;
  transition: all ease-out 0.2s;
  
  .Title, .Title::before {
    font-weight: 700;
    display: inline;
  }
  
  .Title::before {
    content: 'Open ';
  }
}

.Cart-Open {
  max-height: 10rem;
  box-shadow: 0 0.2rem 3rem black;
  
    .Title::before {
    content: 'Close ';
  }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Products {
  background-image: url('food_colorless.png');
}

.Product {
    padding: 5px 8px 5px 8px;
    margin-top: 20px;
    width: 30%;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .9);
    color: black;
    font-weight: bold;
    box-shadow: 2px 1px 9px rgba(153, 204, 255, 1);
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: lucida bright;
}


