body {
  display: inline-block;
  width:100%;
}

.menu_title {
  color: black;
  font-size: 40px;
  font-family: Baskerville;
  text-align: center;
  background-color: rgba(101, 140, 139, .9);
  margin-top: -0.1%;
}

.top {
  margin-top: 0.5%;
}

.header {
  background-color: #F5DEB3;
}

.header_button {
  background: rgba(0,0,0,0);
  border: none;
  margin: 5px 10px 5px 5px;
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.header_buttons {
  margin-left: 920px;
  margin-top: 35px;
  margin-bottom: -45px;
}

.header_button:hover {
  color: #0066CC;
}

.name {
  font-size: 40px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  margin-top: 2%;
  margin-left: 20px;
  margin-bottom: -75px;
}

.Cart {
  color: black;
  text-align: center;
  overflow: hidden;
  max-height: 1.5rem;
  transition: all ease-out 0.2s;
  font-family: baskerville;
  font-weight: bold;
  font-size: 20px;
  background: rgba(0,0,0,0);
  border: solid 2px #000000;
  
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255,255,255,.8);
    margin-top: -10px;
    margin-bottom: 20px;
}

.Products {
  background-image: url('rustic_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Product {
    padding: 15px 15px 15px 15px;
    margin-top: 20px;
    width: 30%;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    font-family: baskerville;
}

/* Dropdown Button */
.dropbtn { 
   cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, .9);
    min-width: 250px;
    z-index: 1;
    border-radius: 20px;
    border: solid 2px rgba(211, 211, 211, 1);
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    margin-left: 1020px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.cart_button { 
  margin-left: 1200px;

}

.add_to_cart {
  background: rgba(0,0,0,0);
  border: solid 2px #000000;
  font-family: baskerville;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.add_to_cart:hover {
  background-color: rgba(101, 140, 139, 1);
}

.home {
  background-image: url('drive_through.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.page_header {
  padding-top: 50px;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 90px;
  font-weight: 100;
}

 .about_sub_header {
  margin-top: 55px;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  font-weight: bold;
 }

 .about_content {
  text-align: center;
  font-family: baskerville;
  font-size: 28px;
  font-weight: 400;
  width: 500px;
  margin-left: 390px;
  margin-top: 55px;
 }

 .about_bottom_header {
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 60px;
  font-weight: 100;
 }

 .about {
  background-image: url('food_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
 }